package auth

import (
	"context"
	"database/sql"
	"errors"

	"github.com/ShanilKoshitha/goforge/job"
	frameworkmail "github.com/ShanilKoshitha/goforge/mail"

	"[[.Module]]/internal/jobs"
	"[[.Module]]/internal/mailbox"
)

type PostgresPasswordRecoveryDelivery struct {
	outbox     *mailbox.Store
	dispatcher job.Dispatcher
}

func NewPostgresPasswordRecoveryDelivery(outbox *mailbox.Store, dispatcher job.Dispatcher) (*PostgresPasswordRecoveryDelivery, error) {
	if outbox == nil {
		return nil, errors.New("password recovery outbox is required")
	}
	return &PostgresPasswordRecoveryDelivery{outbox: outbox, dispatcher: dispatcher}, nil
}

func (delivery *PostgresPasswordRecoveryDelivery) Enqueue(ctx context.Context, tx *sql.Tx, message frameworkmail.Message) error {
	if delivery == nil || tx == nil {
		return errors.New("password recovery delivery transaction is required")
	}
	id, err := delivery.outbox.Enqueue(ctx, tx, message)
	if err != nil {
		return err
	}
	_, err = jobs.DispatchDeliverMail(ctx, delivery.dispatcher.Using(tx), jobs.DeliverMail{OutboxID: id})
	return err
}
