@props(form, id, name, label, help="")
{{$errors := $form.Errors $name}}
<div class="field">
  <label for="{{$id}}">{{$label}}</label>
  @if($help)<p id="{{$id}}-help" class="field__help">{{$help}}</p>@endif
  <select @attributes(id=$id, name=$name, class="field__control")
    @if(and $help $errors)aria-describedby="{{$id}}-help {{$id}}-errors"
    @elseif($help)aria-describedby="{{$id}}-help"
    @elseif($errors)aria-describedby="{{$id}}-errors"@endif
    @if($errors)aria-invalid="true"@endif>
    @slot("default")@endslot
  </select>
  @if($errors)<div id="{{$id}}-errors" class="field__errors" role="alert">@for($errors)<p>{{.}}</p>@endfor</div>@endif
</div>
